<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1">
  <%= csrf_meta_tags %>
    <title>welware</title><link href=/static/css/app.75c3719699e9563d3d6dedebf3e24f32.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/static/js/manifest.efe2e15c57ee86908fbe.js></script><script type=text/javascript src=/static/js/vendor.01c360eb4ef63ea92041.js></script><script type=text/javascript src=/static/js/app.f52e3c1ca537036655b2.js></script></body></html>
